# Python internal caches
__pycache__/
*.pyc

# Local Virtual environments
.venv/
env/

# Local databases and raw data
database/*.db
data/

# Ignore macOS system files
.DS_Store

# Ignore generated data reports
database/*.txt